body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background-color: #8c4f4a;
    color: white;
    padding: 20px;
    width: 100%;
    text-align: center;
}

main {
    width: 80%;
    margin-top: 20px;
}

.upload-section, .gallery-section {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

#gallery img {
    width: 200px;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
}

button {
    margin-top: 10px;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #8c4f4a;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
